<h1>Payment Results</h1>

APR: <%= @apr %> | Number of Years: <%= @num_years %> | Principal: <%= @principal %> | Payment: <%= @result %> | 

<a href="/payment/new">
  Calculate another random number
</a>
